
h1 {
	color: slategrey;
	font-family: courier;
	text-align: center;
	padding: 10px;
	
}

h2 {
	font-family: courier;
	padding: 20px;
	
	font-size: 30px;
	text-align: center;
}

 hr {
	width:800px;
}	

p
{
	scroll-behavior: auto;
	font-size: 15px;
}


.subleft {
	text-align:left;
}
.subright {
	text-align:right;
}
